.header {
  background-color: #E7E6D9;
  color: #8E1737;
  padding: 10px;
  margin: 20px 25px 25px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.title {
  margin: 0 0.5em 0 0;
  text-align: center;
}